[submodule "testdata/case/java-maven-sample"]
	path = testdata/case/java-maven-sample
	url = https://github.com/sgtest/java-maven-sample.git
[submodule "testdata/case/java-jdk-sample"]
	path = testdata/case/java-jdk-sample
	url = https://github.com/sgtest/java-jdk-sample.git
[submodule "testdata/case/java-gradle-sample"]
	path = testdata/case/java-gradle-sample
	url = https://github.com/sgtest/java-gradle-sample.git
[submodule "testdata/case/java-error-tolerance"]
	path = testdata/case/java-error-tolerance
	url = https://github.com/sgtest/java-error-tolerance.git
